*{font-family: 'Times New Roman', Times, serif;}

body{
    background-image: url("tlozachy");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.text{
    font-size: 2.3rem;
    color: blueviolet;
    background-color: black;
}

.text1{
    font-size: 1.8rem;
}

.text2{
    font-size: 1.5rem;
}

.img{
    float:left;
    width: 10rem;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.img1{
    float: right;
    width: 10rem;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.footer { /* Stopka */
    padding: 20px;
    text-align: center;
    background: black;
    color: blueviolet;
    clear: both;
    }

